<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choi.backend.mbg.mapper.GdDungeonMapper">
  <resultMap id="BaseResultMap" type="com.choi.backend.mbg.model.GdDungeon">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dungeon_id" jdbcType="INTEGER" property="dungeonId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="res_name_top" jdbcType="VARCHAR" property="resNameTop" />
    <result column="res_name_bottom" jdbcType="VARCHAR" property="resNameBottom" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, dungeon_id, name, res_name_top, res_name_bottom
  </sql>
  <select id="selectByExample" parameterType="com.choi.backend.mbg.model.GdDungeonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gd_dungeon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gd_dungeon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gd_dungeon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.choi.backend.mbg.model.GdDungeonExample">
    delete from gd_dungeon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.choi.backend.mbg.model.GdDungeon">
    insert into gd_dungeon (id, dungeon_id, name, 
      res_name_top, res_name_bottom)
    values (#{id,jdbcType=INTEGER}, #{dungeonId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{resNameTop,jdbcType=VARCHAR}, #{resNameBottom,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.choi.backend.mbg.model.GdDungeon">
    insert into gd_dungeon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="dungeonId != null">
        dungeon_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="resNameTop != null">
        res_name_top,
      </if>
      <if test="resNameBottom != null">
        res_name_bottom,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dungeonId != null">
        #{dungeonId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="resNameTop != null">
        #{resNameTop,jdbcType=VARCHAR},
      </if>
      <if test="resNameBottom != null">
        #{resNameBottom,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.choi.backend.mbg.model.GdDungeonExample" resultType="java.lang.Long">
    select count(*) from gd_dungeon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gd_dungeon
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dungeonId != null">
        dungeon_id = #{record.dungeonId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.resNameTop != null">
        res_name_top = #{record.resNameTop,jdbcType=VARCHAR},
      </if>
      <if test="record.resNameBottom != null">
        res_name_bottom = #{record.resNameBottom,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gd_dungeon
    set id = #{record.id,jdbcType=INTEGER},
      dungeon_id = #{record.dungeonId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      res_name_top = #{record.resNameTop,jdbcType=VARCHAR},
      res_name_bottom = #{record.resNameBottom,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.choi.backend.mbg.model.GdDungeon">
    update gd_dungeon
    <set>
      <if test="dungeonId != null">
        dungeon_id = #{dungeonId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="resNameTop != null">
        res_name_top = #{resNameTop,jdbcType=VARCHAR},
      </if>
      <if test="resNameBottom != null">
        res_name_bottom = #{resNameBottom,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.choi.backend.mbg.model.GdDungeon">
    update gd_dungeon
    set dungeon_id = #{dungeonId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      res_name_top = #{resNameTop,jdbcType=VARCHAR},
      res_name_bottom = #{resNameBottom,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>