<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choi.backend.mbg.mapper.GdEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.choi.backend.mbg.model.GdEquipment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="equipment_id" jdbcType="INTEGER" property="equipmentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="stage" jdbcType="INTEGER" property="stage" />
    <result column="equipment_attributes" jdbcType="VARCHAR" property="equipmentAttributes" />
    <result column="strengthening_attributes" jdbcType="VARCHAR" property="strengtheningAttributes" />
    <result column="maximum_rating" jdbcType="INTEGER" property="maximumRating" />
    <result column="opening_condition" jdbcType="INTEGER" property="openingCondition" />
    <result column="item_cost" jdbcType="VARCHAR" property="itemCost" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, equipment_id, name, stage, equipment_attributes, strengthening_attributes, maximum_rating, 
    opening_condition, item_cost
  </sql>
  <select id="selectByExample" parameterType="com.choi.backend.mbg.model.GdEquipmentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gd_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gd_equipment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gd_equipment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.choi.backend.mbg.model.GdEquipmentExample">
    delete from gd_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.choi.backend.mbg.model.GdEquipment">
    insert into gd_equipment (id, equipment_id, name, 
      stage, equipment_attributes, strengthening_attributes, 
      maximum_rating, opening_condition, item_cost
      )
    values (#{id,jdbcType=INTEGER}, #{equipmentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{stage,jdbcType=INTEGER}, #{equipmentAttributes,jdbcType=VARCHAR}, #{strengtheningAttributes,jdbcType=VARCHAR}, 
      #{maximumRating,jdbcType=INTEGER}, #{openingCondition,jdbcType=INTEGER}, #{itemCost,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.choi.backend.mbg.model.GdEquipment">
    insert into gd_equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="stage != null">
        stage,
      </if>
      <if test="equipmentAttributes != null">
        equipment_attributes,
      </if>
      <if test="strengtheningAttributes != null">
        strengthening_attributes,
      </if>
      <if test="maximumRating != null">
        maximum_rating,
      </if>
      <if test="openingCondition != null">
        opening_condition,
      </if>
      <if test="itemCost != null">
        item_cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="stage != null">
        #{stage,jdbcType=INTEGER},
      </if>
      <if test="equipmentAttributes != null">
        #{equipmentAttributes,jdbcType=VARCHAR},
      </if>
      <if test="strengtheningAttributes != null">
        #{strengtheningAttributes,jdbcType=VARCHAR},
      </if>
      <if test="maximumRating != null">
        #{maximumRating,jdbcType=INTEGER},
      </if>
      <if test="openingCondition != null">
        #{openingCondition,jdbcType=INTEGER},
      </if>
      <if test="itemCost != null">
        #{itemCost,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.choi.backend.mbg.model.GdEquipmentExample" resultType="java.lang.Long">
    select count(*) from gd_equipment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gd_equipment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.equipmentId != null">
        equipment_id = #{record.equipmentId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.stage != null">
        stage = #{record.stage,jdbcType=INTEGER},
      </if>
      <if test="record.equipmentAttributes != null">
        equipment_attributes = #{record.equipmentAttributes,jdbcType=VARCHAR},
      </if>
      <if test="record.strengtheningAttributes != null">
        strengthening_attributes = #{record.strengtheningAttributes,jdbcType=VARCHAR},
      </if>
      <if test="record.maximumRating != null">
        maximum_rating = #{record.maximumRating,jdbcType=INTEGER},
      </if>
      <if test="record.openingCondition != null">
        opening_condition = #{record.openingCondition,jdbcType=INTEGER},
      </if>
      <if test="record.itemCost != null">
        item_cost = #{record.itemCost,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gd_equipment
    set id = #{record.id,jdbcType=INTEGER},
      equipment_id = #{record.equipmentId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      stage = #{record.stage,jdbcType=INTEGER},
      equipment_attributes = #{record.equipmentAttributes,jdbcType=VARCHAR},
      strengthening_attributes = #{record.strengtheningAttributes,jdbcType=VARCHAR},
      maximum_rating = #{record.maximumRating,jdbcType=INTEGER},
      opening_condition = #{record.openingCondition,jdbcType=INTEGER},
      item_cost = #{record.itemCost,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.choi.backend.mbg.model.GdEquipment">
    update gd_equipment
    <set>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="stage != null">
        stage = #{stage,jdbcType=INTEGER},
      </if>
      <if test="equipmentAttributes != null">
        equipment_attributes = #{equipmentAttributes,jdbcType=VARCHAR},
      </if>
      <if test="strengtheningAttributes != null">
        strengthening_attributes = #{strengtheningAttributes,jdbcType=VARCHAR},
      </if>
      <if test="maximumRating != null">
        maximum_rating = #{maximumRating,jdbcType=INTEGER},
      </if>
      <if test="openingCondition != null">
        opening_condition = #{openingCondition,jdbcType=INTEGER},
      </if>
      <if test="itemCost != null">
        item_cost = #{itemCost,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.choi.backend.mbg.model.GdEquipment">
    update gd_equipment
    set equipment_id = #{equipmentId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      stage = #{stage,jdbcType=INTEGER},
      equipment_attributes = #{equipmentAttributes,jdbcType=VARCHAR},
      strengthening_attributes = #{strengtheningAttributes,jdbcType=VARCHAR},
      maximum_rating = #{maximumRating,jdbcType=INTEGER},
      opening_condition = #{openingCondition,jdbcType=INTEGER},
      item_cost = #{itemCost,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>